<%- include("header") -%>

<div class="box" id="about">
  <h1>About Me</h1>
  <p>Hi, I'm Aditya Mishra, a passionate developer with expertise in DevOps and web development.</p>
  <p>I enjoy building applications that solve real-world problems and exploring new technologies.</p>
  <div class="social-links">
    <h2>Connect with me:</h2>
    <a href="https://github.com/aditya2131" target="_blank" class="connect">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://x.com/adityam39992974" target="_blank" class="connect">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/aditya-mishra-6k/" target="_blank" class="connect">
      <i class="fab fa-linkedin"></i>
    </a>
  </div>
</div>

<%- include("footer") -%>
