</body>

<footer>
  <p>&copy; <%= new Date().getFullYear() %> Aditya_Mishra. All rights reserved.</p>
  <div class="footer-links">
    <a href="mailto:adityamishra.me@gmail.com">
      <i class="fa-solid fa-envelope"></i> adityamishra.me@gmail.com
    </a>
  </div>
</footer>

</html>
